<footer id="page-footer">
  <div class="footer-border"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8">
        <div class="content">
          <ul class="nav">
            <li class="nav-item">
              <a href="/terms" class="nav-link">Terms &amp; Conditions</a>
            </li>
            <li class="nav-item">
              <a href="/code-of-conduct" class="nav-link">Code of Conduct</a>
            </li>
            <li class="nav-item">
              <a href="mailto:locate@mapbox.com" class="nav-link">locate@mapbox.com</a>
            </li>
          </nav>
        </div>
      </div>
      <div class="col-md-4">
        <div class="content">
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSfh5KL9HQKACUK5Ei5AkY6R-rzLxpJThHdtBe1QP16fyKjoQw/viewform" class="button" target="_blank">Sign up for updates</a>
        </div>
      </div>
    </div>
  </div>
</footer>