<header id="page-header">
  <div class="container">
    <nav id="mainnav" class="navbar navbar-expand-md navbar-light">
      <a class="navbar-brand" href="/">
        {% if page.url == '/' %}
          <img src="/assets/img/logo-mapbox.svg" alt="{{ site.title }}">
        {% else %}
          <img src="/assets/img/logo-locate-interior.svg" alt="{{ site.title }}">
        {% endif %}
      </a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#primarynav" aria-controls="primarynav" aria-expanded="false" aria-label="Toggle navigation">
        <div class="navbar-toggle-icon">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
      </button>

      <div class="collapse navbar-collapse justify-content-md-end" id="primarynav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link{% if page.url == '/speakers' %} active{% endif %}" href="/speakers">Speakers{% if page.url == '/speakers/' %}<span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if page.url == '/faq' %} active{% endif %}" href="/faq">FAQ{% if page.url == '/faq/' %}<span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if page.url == '/schedule' %} active{% endif %}" href="/schedule">Schedule{% if page.url == '/faq/' %}<span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link button" href="https://locate.splashthat.com/" target="_blank">Register</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
