{% assign sessions = site.sessions | where: "timeslot", include.timeslot %}

{% assign special = sessions | where: "track", "special" %}
{% assign sorted = sessions | sort: "stage" | where_exp: "sess", "sess.track != 'special'" %}

<div class="row dotted-border dotted-top">
  <div class="col">
    <div class="content">
      <time>{{ site.timeslots[include.timeslot] }}</time>
    </div>
  </div>
</div>

{% comment %}
First all the normal track sessions
{% endcomment %}
<div class="row dotted-border">
  {% for session in sorted %}
    <div class="col-md-6 {% cycle 'order-md-1', 'order-md-3', 'order-md-2', 'order-md-4' %}">
      {% include session_summary_block.html session=session %}
    </div>
  {% endfor %}
</div>

{% if special %}
  {% comment %}
  Then any "special" track sessions (like the Robocar Workshop)
  {% endcomment %}
  <div class="row">
    {% for session in special %}
      <div class="col-md-6">
        {% include session_summary_block.html session=session %}
      </div>
    {% endfor %}
  </div>
{% endif %}