.speaker-details {
  margin-bottom: 20px;
  h3, p {
    font-family: $font-bold;
    margin-bottom: 0;
    line-height: 1.4;
  }
}

.single-speaker {
  
}

.speaker-bio {
  color: $gray;
  p {
    margin-bottom: 30px;
  }
}