---
layout: default
---
<!-- Hero -->
<div id="hero-home" class="hero" style="background-image: url('/assets/img/hero-bg.jpg')">
  <div class="hero-overlay">
    <img id="logo" class="img-fluid" src="/assets/img/logo-locate.png" alt="Locate Logo">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="content hero-caption">
          <p>expand the edges</p>
          <p>30 - 31 may</p>
          <p>pier 27, san francisco</p>
        </div>
      </div>
    </div>
  </div>
  <div class="border-hero"></div>
</div>

<!-- Intro -->
<section id="intro" class="bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="content">
          <p>Mapbox’s first event celebrating and exploring the connectedness of
          the world around us. #locatemapbox</p>
        </div>
      </div>
      <div class="col-md-4 ml-auto">
        <div class="content intro-cta overlay-blue-pattern">
          <div class="cta-content">
            <p>Explore the invisible layer of our world</p>
            <a href="https://locate.splashthat.com/" class="button" target="_blank">Register</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-4">
        <div class="content">
          <img src="/assets/img/locate-machines.jpg" class="img-fluid" alt="Machines Image">
          <h3>Maps for Machines</h3>
          <p>Maps have always been aimed at humans, but that’s changing as autonomous driving require entirely new levels of accuracy and latency.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="content">
          <img src="/assets/img/locate-data.jpg" class="img-fluid" alt="Big Data Image">
          <h3>Visualizing Big Data</h3>
          <p>The ability to visualize massive, real-time datasets is improving decision-making from ride-sharing to government and humanitarian relief efforts.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="content">
          <img src="/assets/img/locate-ar.jpg" class="img-fluid" alt="Augmented Reality Image">
          <h3>Augmented Reality</h3>
          <p>We’ve just started leveraging the 200M+ AR-enabled mobile phones to build apps that project map data into the real world.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Speakers -->
<section id="home-speakers" class="bg-purple">
  <div class="border-purple purple-top"></div>
    {% include speakers_list.html %}
  <div class="border-purple purple-bottom"></div>
</section>

<!-- Map -->
<section id="map"></section>
