---
layout: default
---
<!-- Hero -->
<div id="hero-home" class="hero" style="background-image: url('/assets/img/hero-bg.jpg')">
  <div class="hero-overlay">
    <img id="logo" class="img-fluid" src="/assets/img/logo-locate.png" alt="Locate Logo">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="content hero-caption">
          <p>explore the edges</p>
          <p>may 30 - 31</p>
          <p>pier 27, san francisco</p>
        </div>
      </div>
    </div>
  </div>
  <div class="border-hero"></div>
</div>

<!-- Intro -->
<section id="intro" class="bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="content">
          <p>Mapbox’s first event celebrating and exploring the connectedness of
          the world around us. #explorelocate</p>
        </div>
      </div>
      <div class="col-md-4 ml-auto">
        <div class="content intro-cta overlay-blue-pattern">
          <div class="cta-content">
            <p>Download the Locate app for iOS or Android!</p>
            <a href="/app" class="button">Download</a>
          </div>
        </div>
      </div>
    </div>

    {% include featured_sessions.html %}
  </div>
</section>

<!-- Speakers -->
<section id="home-speakers" class="bg-purple">
  <div class="border-purple purple-top"></div>
    {% include speakers_list.html %}
  <div class="border-purple purple-bottom"></div>
</section>

<!-- Map -->
<section id="map"></section>
