---
layout: default
---
{% assign session = page %}
<section class="bg-purple single-speaker">
    <div class="border-purple purple-top"></div>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="content">
            <h1>Session</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7">
          <div class="content">
            <div>
              <h4>
                {{ site.timeslots[session.timeslot] }}{% if session.room %} | {{ session.room }}{% endif %}
                {% if session.timeslot contains 'd1_' %}
                  - May 30th
                {% else if session.timeslot contains 'd2_' %}
                  - May 31st
                {% endif %}
              </h4>
              <h2>{{ session.title }}</h2>
              <p>{{ site.stages[session.stage] }}</p>
              <p>{{ session.summary }}</p>
              <div class="session-description">
                {{ page.content }}
              </div>
              {% if session.speakers %}
                <p>
                  <strong>Speakers:</strong>
                    {% for object in session.speakers %}
                      {% assign speaker = site.speakers | where: "slug", object | first %}
                      <a href="{{ speaker.url }}">{{ speaker.name }}</a>{% unless forloop.last %}, {% endunless %}
                    {% endfor %}
                </p>
              {% endif %}
              {% if session.categories.size != 0 %}
                <p><strong>Categories:</strong> {% for category in session.categories %}{{ category }}{% unless forloop.last %}, {% endunless %}{% endfor %}</p>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="content">
            {% for object in session.speakers %}
              {% assign speaker = site.speakers | where: "slug", object | first %}
              {% include speaker_summary.html speaker=speaker %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
