---
layout: default
title: Schedule
---

<section class="bg-gray">
  <div class="border-gray gray-top"></div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content">
          <h1 class="underline">schedule</h1>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col">
        <div class="content">
          <div class="track-legend">
            <span class="track track1">Business Track 1</span>
            <span class="track track2">Business Track 2</span>
            <span class="track track3">Tech Track 1</span>
            <span class="track track4">Tech Track 2</span>
          </div>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col">
        <div class="content">
          <h2>day 1</h2>
        </div>
      </div>
    </div>
    
    <div class="row dotted-border dotted-top">
      <div class="col-md-6">
        <div class="content">
          <time>7:30am</time>
        </div>
        <div class="content session-summary">
          <p class="session-title">Registration Opens</p>
          <p class="session-title">Breakfast</p>
        </div>
      </div>
    </div>

    <div class="row dotted-border dotted-top">
      <div class="col-md-6">
        <div class="content">
          <div class="session-highlight pattern-blue">
            <div class="pattern-content">
              <time>9:00am</time>
              <p>Opening Keynote &bull; Main Stage</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 10:45am -->
    {% include session_summary.html timeslot='d1_slot1' %}

    <!-- 11:30am -->
    {% include session_summary.html timeslot='d1_slot2' %}

    <!-- 12:00pm - Lunch -->
    <div class="row dotted-border dotted-top">
      <div class="col-md-6">
        <div class="content">
          <div class="session-highlight pattern-blue">
            <div class="pattern-content">
              <time>12:10pm</time>
              <p>Lunch &bull; Exploration Hall</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 1:15pm -->
    {% include session_summary.html timeslot='d1_slot3' %}

    <!-- 2:15pm -->
    {% include session_summary.html timeslot='d1_slot4' %}

    <!-- 3:00pm -->
    {% include session_summary.html timeslot='d1_slot5' %}

    <!-- 3:45pm -->
    {% include session_summary.html timeslot='d1_slot6' %}

    <!-- 4:30pm -->
    {% include session_summary.html timeslot='d1_slot7' %}

    <!-- 5:15pm -->
    {% include session_summary.html timeslot='d1_slot8' %}

  </div>
  <div class="border-gray gray-bottom"></div>
</section>

<!-- Afterparty -->
<section id="rsvp" class="bg-purple">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content">
          <h2><time>6:00pm</time> - After Party</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Day Two -->
<section class="bg-gray">
  <div class="border-gray gray-top"></div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content">
          <h2>day 2</h2>
        </div>
      </div>
    </div>

    <div class="row dotted-border dotted-top">
      <div class="col-md-6">
        <div class="content">
          <time>8:00am</time>
        </div>
        <div class="content session-summary">
          <p class="session-title">Registration Opens</p>
          <p class="session-title">Breakfast</p>
        </div>
      </div>
    </div>

    <!-- 9:30am -->
    {% include session_summary.html timeslot='d2_slot1' %}

    <!-- 10:15am -->
    {% include session_summary.html timeslot='d2_slot2' %}

    <!-- 11:15am -->
    <div class="row dotted-border dotted-top">
      <div class="col-md-6">
        <div class="content">
          <div class="session-highlight pattern-blue">
            <div class="pattern-content">
              <time>11:15am</time>
              <p>Keynote &bull; Main Stage</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 12:15pm -->
    <div class="row dotted-border dotted-top">
      <div class="col-md-6">
        <div class="content">
          <div class="session-highlight pattern-blue">
            <div class="pattern-content">
              <time>12:15pm</time>
              <p>Lunch &bull; Exploration Hall</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 1:30pm -->
    {% include session_summary.html timeslot='d2_slot3' %}

    <!-- 2:15pm -->
    {% include session_summary.html timeslot='d2_slot4' %}

    <!-- 3:00pm -->
    {% include session_summary.html timeslot='d2_slot5' %}

    <!-- 3:45pm -->
    <!-- {% include session_summary.html timeslot='d2_slot6' %} -->

    <!-- 4:20pm -->
    <div class="row dotted-border dotted-top">
      <div class="col-md-6">
        <div class="content">
          <div class="session-highlight pattern-blue">
            <div class="pattern-content">
              <time>4:20pm</time>
              <p>Donkeycar Race</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
